.containerSectionNone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.figCaptionFlex {
    display: flex;
    justify-content: space-between;
}

.none {
    gap: 1rem;
    display: flex;
    flex-direction: row;

}

.none p {
    padding: 0 6rem ;
    font-size: 1.6rem;
    width: 60%;
    height: 20vh;
}

@media (max-width:70rem) {

    .containerSectionNone img {
        height: 24vh;
    }

    
}