

.inputs {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    
}

.inputs div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
    border: 1px solid #153C52;
    border-radius: 1rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.spac {
    margin-top: 5rem;
}

@media (max-width: 70rem) {
    .SevenText {
        padding-top: 10rem;
    }
}