.AIMG {
    background-image: url("../../assets/img/waterVirando.jpg");
    background-size: cover;
    background-position: center center;
}

.AIMGTEXT {
    background: linear-gradient(180.07deg, #FFFFFF 0.58%, rgba(255, 255, 255, 0) 34.16%, rgba(255, 255, 255, 0) 71.21%, #FFFFFF 96.16%);
}

.inputs {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    
}

.inputs div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1rem;
    border: 1px solid #153C52;
    border-radius: 1rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.spac {
    margin-top: 5rem;
}

@media (max-width: 40rem) {

    .AIMG {
        background: none;
    }

    .SevenText {
        padding-top: 10rem;
    }
}