.Section8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


.Section8 .icon {
    display: block;
    margin: 0 auto;
}

.gap {
    gap: 4rem;
    justify-content: center;
}


.Section8 figcaption p {
    font-size: 1.3rem;
    line-height: 1rem;
}

.center {
    text-align: center;
}

.end {
    text-align: end
}

.flexA {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width:70rem) {
    .center, .end {
        text-align: center;
    }
}

@media screen and (max-width: 40rem) {
    .flexA {
        gap: 1rem;
    }
}