
p {
    color: #153C52;
}


@media (max-width: 70rem) {

    .flex-1 {
        margin-right: 0;
        padding: 3rem;
    
    }


}


@media (min-width: 2200px) and (max-width: 3000px) {
    .background ,.background2,.caracteristicas, .ondas  {
        background: none !important;
    } 
    


    .ondas p, .ondas h2, .ondas h1, .ondas a {
        font-size: 4rem !important;
        color: #000 !important;
    }
}