.containerSectionNone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.figCaptionFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.none {
    gap: 1rem;
    display: flex;
    flex-direction: row;

}

.none p {
    padding: 0 6rem ;
    font-size: 1.6rem;
    width: 60%;
    height: 20vh;
}

@media (max-width:70rem) {

    .containerSectionNone img {
        height: 16vh;
    }

    .none {
        gap: 4rem;

    }

    .containerSectionNone .figCaptionFlex {
        flex-direction: column;
        padding-left: 4rem;
    }

    
}

@media screen and (max-width:40rem) {
        .figCaptionFlex {
            padding: 0 4rem;
        }
}