
.caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carouselItem {
    height: 75vh;
}


.carouselItem figcaption p {
    font-size: 1.3rem;
}