

.img {
    background-image: url("../../assets/img/black-forest-ham.jpg");
    background-position: center center;
    background-size: cover;

    height: 100vh;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.h1Heading {
    color: #fff;
    height: 50vh;
    text-align: center;
    font-size: 7rem;
    width: 22%;

}

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 1rem;
}

.icons a {
    text-decoration: none;
    color: #fff;
}