

.img {
    background-image: url("../../assets/img/cowMain.jpg");
    background-position: center center;
    background-size: cover;
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text {
    display: flex;
    justify-content: center;
}

.h1Heading {
    color: #fff;
    height: 50vh;
    text-align: center;
    align-items: center;
    width: 30%;
    font-size: 5rem;
    text-shadow: 0px 4px 4px #000000;
    line-height: 58.72px;

}

@media (max-width: 50rem) {
    .h1Heading {
        width: 50%;
    }
}
