.aguaBackground {
    background-image: url("https://st2.depositphotos.com/1765488/7518/i/600/depositphotos_75180783-stock-photo-herd-of-cows-drinking-water.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10%;
}

@media screen and (max-width: 70rem) {
    .aguaBackground {
        background: none;
    }
}       