
.background2 {
    background-image: url("../../assets/svg/background.svg");
    width: 100%;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.impact {
    margin-bottom: 2rem;
}

.impact p {
    width: 90%;
}

@media (max-width: 70rem) {

    .background2 {
        background: none;
        padding: 10rem 0;
    }

    .gridAnimals img {
        display: block;
   
        height: 20vh;
    }


    .figure {
        display: block;
       padding: 0 6rem;
        width: 100%;
    }
}