
.background2 {
    background-image: url("../../assets/svg/background.svg");
    width: 100%;
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

.impact {
    margin-bottom: 2rem;
}

.impact p {
    width: 90%;
}

@media (max-width: 70rem) {

    .background2 {
        background: none;
        padding: 10rem 0;
    }

    .impact {
        padding: 10rem 3rem !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh !important;
    }

    .impact p {
        width: 100%;

    }

    .gridAnimals img {
        display: block;
   
        height: 25vh;
    }


    .figure {
        display: block;
        width: 100%;
    }


    .aabb p {
        width: 90%;
        display: block;
        text-align: start;
    }
}