
.imgs {
    background-image: url("../../assets/img/dropOfWater.jpg");
}

.containerSectionSix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.dashed {
    display: flex;
    flex-direction: column;
    background: rgba(112, 169, 255, 0.25);
    border: 3px dashed #153C52;
    border-radius: 10px;
    height: auto;
    width: 80%;
}

.dashed h1, h3, h2 {
    text-align: center;
}


.tableCenter {
    display: flex;
    justify-content: center;
}

.boxTable {
    position: relative;
}

.dashed .absolute {
    position: absolute;
    display: flex;
    outline: 0;
    left: 30%;
    top: 10%;
}

.outline {
    gap: 3rem;
}

.dashed .table {
    position: relative;
    outline: 2;
    background: rgba(229, 250, 254, 0.5);
    height: auto;
    width: 70vmin;
    border: 1px solid #153C52;
    border-radius: 1rem;
}



.tableTitle {
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed #153C52;
    height: 5vh;
}

.tableText {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.tableText p {
    font-size: 2rem;
}

@media (max-width: 70rem) {
    .dashed {
        width: 100%;

    }

    .dashed .outline img {
        top: 1%;
        left: 20%;
    }

    .table {
        height: 20vh;
    }
}