.GraphicFlex div div {
    line-height: 1.5rem;
}

.circle {
    height: 15rem;
    width: 100%;
    position: relative;
    border: 2px solid green;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
