.containerGraphic {
    display: flex;
    padding: 2rem 10rem;
    flex-direction: column;
}


.flexGraphic figure figcaption {
    padding-left: 7rem;
}

.flexGraphic .h2Consert img {
    height: 100vh;
    display: block;
    margin: 0 auto;
}

.flexGraphic h2  {
    text-align: center;
}


.flexGraphics {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexGraphic p {
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    padding-left: 8rem;
}


.marginLeft p {
    padding: 0;
    margin-top: 2rem;
    width: 83%;
}

@media (max-width: 70rem) {

    .containerGraphic {
        padding: 0;
    }

    .flexGraphic h2 {
        text-align: left;
    }

    .h2Consert p {
        margin-left: 5rem !important;
    }

    .flexGraphics {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flexGraphics p {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0 !important;

    }

    .padding {
        margin-bottom: 10rem;
    }

    .flexGraphics img {
        display: block;
        margin: 0 auto;
    }




    .containerGraphic p {
        width: 80% !important;
    }

    .flexGraphic figure figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .flexGraphics {
        flex-direction: column;

    }  
    
    .arrumar {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
        gap: 0;
        
    }

    

    img {
        margin-right: 0;
        padding: 0;
    }

    .flexGraphics img {
        height: auto;
    }

    .flexGraphics p, .flexGraphic p {
        padding: 0;
        width: 130%;
        margin: 0;
    }

    .flexGraphic .h2Consert img {
        height: auto;
    }


}